* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  background: #E8E8E8;
}

button {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  width: 100vw;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.overview-page {
  width: calc(100% - 250px);
  height: 100vh;
}
.overview-page__content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
}
.overview-page__content__transaction-title {
  margin-top: 90px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
}
.overview-page__content__transaction-btn-bg {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 90px;
}

.main-nav-bg {
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, #30475E 0%, #222831 100%);
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.main-nav-bg__nav-header {
  margin-top: 26px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-nav-bg__nav-title {
  padding-top: 1px;
  color: rgb(240, 84, 84);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
.main-nav-bg ul {
  margin-top: 90px;
  list-style: none;
}
.main-nav-bg ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
}
.main-nav-bg ul li a {
  color: #D4D4D8;
  text-decoration: none;
  padding-left: 22px;
}
.main-nav-bg ul li a.active {
  color: white;
  border-left: 1px solid #D4D4D8;
}
