* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

.index-page {
  font-family: system-ui, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.MainNavigation {
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, #30475E 0%, #222831 100%);
  display: flex;
  flex-direction: column;
}
.MainNavigation__nav-header {
  margin-top: 26px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.MainNavigation__nav-title {
  padding-top: 1px;
  color: rgb(240, 84, 84);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
