* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter";
  background: #E8E8E8;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.overview-page {
  width: 100%;
  height: 100vh;
}
.overview-page__add-transaction-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 16px;
  width: 189px;
  height: 40px;
  background: rgba(28, 101, 140, 0.15);
  color: #1C658C;
  border-radius: 50px;
  border: none;
}

.main-nav-bg {
  width: 300px;
  height: 100vh;
  background: linear-gradient(180deg, #30475E 0%, #222831 100%);
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}
.main-nav-bg__nav-header {
  margin-top: 26px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-nav-bg__nav-title {
  padding-top: 1px;
  color: rgb(240, 84, 84);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
.main-nav-bg ul {
  margin-top: 90px;
  list-style: none;
  padding-left: 22px;
}
.main-nav-bg ul li {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 30px;
}
.main-nav-bg ul li a {
  color: #D4D4D8;
  text-decoration: none;
}
.main-nav-bg ul li a.active {
  color: white;
}
