.transaction-history-page {
  width: calc(100% - 250px);
  height: 100vh;

  main {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.search-bar-gr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  // background-color: white;

  .search-icon {
    // position: absolute;
    background-color: white;
  }

  .search-input {
    width: 100%;
    border: none;
    outline: none;
  }
}