.add-transaction-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 16px;
  width: 189px;
  height: 40px;
  background: rgba(28, 101, 140, 0.15);
  color: #1C658C;
  border-radius: 50px;
  border: none;
}
