.modal-bg {
  background: rgba(0, 0, 0, 0.35);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal {
  width: 1012px;
  height: 605px;
  background: #F8FAFC;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 25px;
  background-color: white;
  border-bottom: 1px solid #E5E5E5;
  box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.05);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.modal__modal-header h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.modal__modal-header button {
  background: transparent;
  border: none;
}
.modal form {
  display: flex;
  flex-direction: column;
  padding-left: 38px;
  margin-top: 70px;
}
.modal form label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 10px;
}
.modal form select {
  padding: 6px 8px;
  background: #FFFFFF;
  box-shadow: inset 0px 0px 1px 0.1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width: 300px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #111827;
  margin-right: 52px;
}
.modal form #date {
  background: #FFFFFF;
  box-shadow: inset 0px 0px 1px 0.1px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width: 240px;
  height: 48px;
  padding: 6px 8px 6px 12px;
  margin-right: 52px;
}
.modal form #amount {
  border: 1px solid #94A3B8;
  border-radius: 7px;
  width: 223px;
  height: 49px;
}
.modal form #amount, .modal form #description {
  padding: 10px;
}
.modal form .type-section {
  margin-right: 140px;
}
.modal form .second-row {
  margin-top: 55px;
}
.modal form .type-title {
  margin-bottom: 26px !important;
}
.modal form .income-label {
  margin-right: 35px;
  margin-left: 10px;
  margin-bottom: 0;
}
.modal form .expense-label {
  margin-bottom: 0;
  margin-left: 10px;
}
.modal form .radio-btns {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.modal form #description {
  width: 584px;
  height: 142px;
  border-radius: 7px;
  border: 1px solid #94A3B8;
}
.modal form .submit-btns {
  margin-top: 90px;
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
}
.modal form .submit-btns .dismiss-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 16px;
  height: 40px;
  margin-right: 50px;
  background: transparent;
  color: black;
  border-radius: 50px;
  border: 1.5px solid black;
}
