.transactions-List {
  margin-top: 18px;
  width: 100%;
  gap: 18px;
  max-height: 300px;
  overflow-y: auto;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.transactions-List::-webkit-scrollbar {
  width: 10px;
}
.transactions-List::-webkit-scrollbar-track {
  background: #30475E;
  border-radius: 7px;
}
.transactions-List::-webkit-scrollbar-thumb {
  background: #f05454;
  border-radius: 7px;
}
.transactions-List::-webkit-scrollbar-thumb:hover {
  background: #e33737;
}
