.item {
  background: #F8FAFC;
  border-radius: 7px;
  height: 56px;
  width: 100%;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;
  padding-right: 16px;
}
