* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  background: #E8E8E8;
}

button,a {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}